body{
margin:0;
font-family:Orbitron;
color:white;
text-align:center;
background:black;
}

#mc-bg{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
z-index:-2;
}

#mc-player{
position:fixed;
bottom:20px;
right:20px;
width:220px;
height:300px;
z-index:-1;
}

header{
display:flex;
justify-content:space-between;
padding:20px 60px;
}

.logo{
color:#bb00ff;
text-shadow:0 0 20px #bb00ff;
}

nav a{
margin-left:25px;
color:white;
text-decoration:none;
}

.hero{
margin-top:120px;
}

.hero h1{
font-size:80px;
}

.mascot{
width:220px;
}

.btn{
background:#bb00ff;
padding:12px 25px;
color:white;
text-decoration:none;
margin:10px;
display:inline-block;
}

.btn2{
border:2px solid #bb00ff;
padding:12px 25px;
color:white;
text-decoration:none;
}

.section{
padding:100px;
}

.video-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
padding:40px;
}

.video-grid img{
width:100%;
border:2px solid #bb00ff;
cursor:pointer;
}

.gallery{
display:flex;
justify-content:center;
gap:30px;
}

.gallery img{
width:300px;
border:2px solid #bb00ff;
}

footer{
padding:30px;
color:#888;
}
